# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**

- List of Popular languages that Data Scientists use
- ist of Commonly used libraries used by Data Scientists
- Table of Data Science Tools
- Few examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

### 1. Python
### 2. R
### 3. SQL
### 4. SCALA
### 5. JAVA
### 6. C++
### 7. JULIA
### 8. JS
### 9. PHP
### 10. RUBI

### Some of the commonly used libraries used by Data Scientists include:

### 1. Pandas
### 2. NumPy
### 3. SciPy
### 4. Matplotib
### 5. Tensorflow
### 6. PyTorch
### 7. Keras
### 8. Scikit

### Table of Data Science Tools

|**Data Science Tools**|
|----------------------|
|Jupyter Notebooks     |
|RStudio               |
|GitHub                |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
#  This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 

### Ashishkumar Jaysukhbhai Tank